#check-button {
    width: 200px;
    height: 60px;
}
.opacity0 {
    opacity: 0;
}
.download-container {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    height: fit-content;
}